@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIAGE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/datatable/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/datatable/DataTables/css/dataTables.bootstrap4.min.css" />
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <link href="~/css/select2-bootstrap.css" rel="stylesheet" />
</head>
<body>
    <partial name="_loading" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SIAGE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link text-dark dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                    Olá @User.Claims.Where(x => x.Type == ClaimTypes.GivenName).Select(x => x.Value).FirstOrDefault()
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 100%">
                                    <a class="dropdown-item" href="#">Perfil</a>
                                    <a class="dropdown-item change-password" data-id="
                                       @User.Claims.Where(x => x.Type == ClaimTypes.NameIdentifier).Select(x => x.Value).FirstOrDefault()"
                                       href="#" data-toggle="modal">Alterar Senha</a>
                                    <hr />
                                    <a class="dropdown-item" asp-controller="Autenticacao" asp-action="Sair">Sair</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).FirstOrDefault() == "Gerente")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuários</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SIAGE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="ModalChangePassword" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/lib/datatable/datatables.min.js"></script>
    <script src="~/lib/datatable/DataTables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                language: {
                    url: 'lib/datatable/Portuguese-Brasil.json'
                }
            });

            //plugin select2
            $('.select2').select2({
                theme: "bootstrap"
            });

            $('.date').mask('00/00/0000');

            $('.change-password').click(function () {
                var url = "/Autenticacao/ChangePassword/"; // the url to the controller
                var id = $(this).attr('data-id'); // the id that's given to each button in the list
                $.get(url + id, function (data) {
                    $('.modal-content').html(data);
                    $('#ModalChangePassword').modal('show');
                });
            });
        });

        function displayBusyIndicator() {
            $('.loading').show();
        }

        function hideBusyIndicator() {
            $('.loading').hide();
        }

        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });

        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });

    </script>

    @if (TempData["alert"] != null)
    {
        <script>
            console.log('olá');
            $(document).ready(function () {
            @Html.Raw(TempData["alert"])

            });
        </script>
    }

    @RenderSection("Scripts", required: false)
</body>
</html>
